body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.barra {
    background-color: #343a40; /* Color de fondo */
    padding: 10px;
    color: white;
    position: relative; /* Asegúrate de que el nav se posicione correctamente */
}

.logos {
    display: flex;
    align-items: center;
}

.btn-menu {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}

.nav {
    display: block; /* Cambiado a block */
    background-color: #343a40; /* Igual que la barra */
    width: 100%; /* Para que tenga el mismo ancho que la barra */
    padding: 10px 0; /* Espaciado interno */
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-list li {
    margin: 10px 0;
}

.nav-list a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.3s;
}

.nav-list a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-list i {
    margin-right: 8px; /* Espacio entre icono y texto */
}

#map {
    display: flex;
    height: 100vh;
    width: 95vw;
    margin-left: 5%;
  }
